body {
  font-family: Tahoma, sans-serif;
    font-size: 24px;
}

p {
    text-align:left;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
}

.center-table {
    margin: auto;
}

.header-photo {
    height: 200px;
}

.small-indent {
    margin-left:150px;
    margin-right:150px;
}

.large-indent {
    margin-left:250px;
    margin-right:250px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.card {
    flex: 0 0 auto;
}

/* Menu */

.nav{
    top: 0;
    width: 100%;
    max-height: 0;
    position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
    position:sticky;
}

li {
    float: left;
}

li span, li a {
    font-size: 16px;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li span:hover {
    background-color: gray;
    cursor: pointer;
}

li a:hover {
    background-color: gray;
    cursor: pointer;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

