p {
    text-align:left;
}

body {
  font-family: Tahoma, sans-serif;
    font-size: 24px;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
}

.center-table {
    margin: auto;
}

.header-photo {
    height: 250px;
}

.small-indent {
    margin-left:150px;
    margin-right:150px;
}

.large-indent {
    margin-left:250px;
    margin-right:250px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
    position:sticky;
}

li {
    float: left;
}

li span, li a {
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li span:hover {
    background-color: gray;
    cursor: pointer;
}

li a:hover {
    background-color: gray;
    cursor: pointer;
}
